.container{
    display: inline-block;
}
.slider-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.slider{
    /* height: 5vh; */
    margin-top: 5px;
    margin-left: 15px;
    width: 95vw;
    border: red solid 3px;
}
.button{
    background: #666666;
    width: 3%;
    height: 2vh;
    /* border: #121212 solid 1px; */
}
.typing-animation{
    font-size: 3em;
    letter-spacing: 0vw;
    font-family: monospace;
    border-right: 5px solid;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    animation:typing 8s steps(71),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50%{
        border-color: transparent transparent;
    }}

    @keyframes typing{
        from{width:0}
    }
    

